body{
    transition: background-color 0.3s ease;
    
}
section{
    background-color: grey;
    border-radius:  5px ;
    border: 1px solid white;
    padding :20px;
    width:400px;
    margin:auto;
}

#inputBox{
    padding:15px;
    width:90%;
    border-radius: 10px ;
    border: 2px solid black;
}

.number-buttons{
    padding:50px;
    margin: 10px;
}
.top-buttons,
.bottom-buttons {
    display:block;
    gap: 30px;
 }

.operation-btn {
    display:block;
    margin-left: 90px;
    margin-right: 50px;
}

.btns {
    display:block;
    left:0;
    margin-left: 95px;
}

button{
    /*display:block;*/
    border-radius: 5px; 
    padding:20px;
}
#equal , #clear-all{
    width: 80px;
    margin:8px;
}

/*styling the drop down */
ul, li{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:black;
    display:block;
    padding: 8px 12px;
    transition: background 0.3s ease;
}
a:hover{
    background-color: #555;
}
ul{
    position:relative;
    display:inline-block;
    font-family: sans-serif;
}
ul ul , ul ul ul {
    display:none;
    position:absolute;
    z-index:1000;
}
li:hover > ul{
    display: block;
}
ul ul ul{
    left: 100%;
    top:0;
}
ul ul ul li{
    padding: 8px 12px;
    color:black;
    display:flex;
    align-items:center;
    gap: 8px;
}

input[type="radio"]{
    accent-color:#0af;
    cursor: pointer;
}
label{
    cursor:pointer;
    color:black;
}
ul ul li:hover{
    background-color: #f0f0f0;
}

#dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0;
    margin:0;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    position: relative;

}
#dropdown > ul {
    display: flex;
    align-items: center;
}
.history {
    display:flex;
    align-items: center;
}
.history a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    font-family : sans-serif;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.history a:hover{
    background-color: #d6d8db;
    cursor: pointer;
}
.history a i{
    margin-right: 5px;
}