/*body{
    background-color: black;
}*/
section{
    background-color: grey;
    border-radius:  5px ;
    border: 1px solid white;
    padding :20px;
    width:400px;
    margin:auto;
}

#inputBox{
    padding:15px;
    width:90%;
    border-radius: 10px ;
    border: 2px solid black;
}

.number-buttons{
    padding:50px;
    margin: 10px;
}
.top-buttons,
.bottom-buttons {
    display:block;
    gap: 30px;
 }

.operation-btn {
    display:block;
    margin-left: 90px;
    margin-right: 50px;
}

.btns {
    display:block;
    left:0;
    margin-left: 95px;
}

button{
    /*display:block;*/
    border-radius: 5px; 
    padding:20px;
}
#equal , #clear-all{
    width: 80px;
    margin:8px;
}

/*styling the drop down */
ul, li{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:white;
    display:block;
    padding: 8px 12px;
}
ul{
    position:relative;
    display:inline-block;
}
ul ul , ul ul ul {
    display:none;
    position:absolute;
    background-color:black;
    z-index:10;
}
ul li:hover > ul{
    display: block;
    top:100%;
    left:0;
}